@use 'vars';

// NOT IN USE

/* the super tall line-height ensures that the
user can drag the "background" (actually, the
text in this div) from anywhere in the grid window;
as they drag this text around, the grid
appears to get dragged around (its ScrollTop and
ScrollLeft properties are altered based on how
far the user's cursor travelled from when they
began dragging the text to when the finished
dragging it) */
#draggable {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 10px;
    color: vars.$grid-container-bg;
    opacity: 1;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1600px; //ensure everywhere in grid window is draggable
    color: transparent;
    text-shadow: none;
}