@use 'vars';
@use 'grid-window';
@use 'modals';


.grid-section {
    height: 100vh;
    width: 100%;
    background-color: vars.$grid-container-bg;
    position: relative;
}

.back-to-how-to-container {
    height: 7%;
    min-height: 40px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;

    a {
        text-decoration: none;
        color: vars.$off-white;
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-family: vars.$boogaloo;
        letter-spacing: 3px;
        padding: 5px;
        cursor: pointer;
    }

    a:hover {
        letter-spacing: 4px;
        color: white;
    }

    a:active {
        color: vars.$off-white;
    }
}


.game-speed {
    position: absolute;
    margin: auto;
    border: 2px solid vars.$sides-bg;
    background-color: vars.$tunnel-bg;
    color: vars.$cream;
    width: 40%;
    left: 30%;
    top: 35%;
    padding: 20px;
    border-radius: 10px;
    z-index: 500;
    font-size: 1.5rem;
    font-family: vars.$chau-phil;
    letter-spacing: 1px;

    .speed-btns-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .speed-btns {
            text-transform: uppercase;
            font-family: vars.$boogaloo;
            background-color: vars.$non-tunnel-bg;
            border: 1px solid vars.$non-tunnel-bg;
            margin-top: 20px;
            font-size: 1.8rem;
            padding: 10px;
            letter-spacing: 2px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                opacity: .9;
                border: 1px solid vars.$sides-bg;
            }

            &:active {
                opacity: 1;
            }
        }
    }
}


.game-icons-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 4vh;
    z-index: 20;

    //these should match .grid-window:
    bottom: 20px;
    height: 90%;

    .game-icon:hover::before {
        color: vars.$off-white;
        font-family: vars.$chau-phil;
        text-transform: uppercase;
        position: absolute;
        font-size: .8rem;
        letter-spacing: 1px;
        content: attr(title);
        z-index: 50;
        right: 0;
        margin-top: -50px;
        text-align: right;
    }

    img {
        width: 4vw;
        height: 4vw;
    }

    img:hover {
        opacity: .8;
        cursor: pointer;
    }

    img:active {
        opacity: 1;
    }

    #build-mode {
        border-radius: 6px;
        background-color: vars.$off-white-darkened;
        box-shadow: 0 0 3px vars.$sides-bg inset;
        border: 1px solid vars.$sides-bg;
    }

    #assign-task-prompt {
        position: absolute;
        margin-left: 40px;
        margin-top: -30px;
        width: 200%;
        height: auto;
        user-select: none;

        animation: blink 1s infinite;
    }

    @keyframes blink {
        50% {
            opacity: .5;
        }
    }

}