@use 'vars';
@use 'tile-types';

.grid-cell {
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 10%;
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 1px black inset;
    background-size: 100%;

    // css trick to set height equal to whatever width is;
    // padding-bottom % should be same as width %
    height: 0;
    padding-bottom: 10%;
}

.grid-cell::selection {
    color: transparent;
    background-color: transparent;
}


.contains-ants {
    // TEMPORARY IMG
    background-image: url("https://i.pinimg.com/originals/49/b0/37/49b037744bb869198500a3a9531dc40c.gif");
    background-size: 80%;

    
    // background-image: url("../src/images/ANT.png");
    // background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
}

// .contains-ants {
//     position: relative;
//     z-index: 1;
// }

// .contains-ants::before {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: -50px;
//     z-index: 10;
    // background-image: url("../src/images/ANT.png");
    // background-size: 40%;
    // background-repeat: no-repeat;
    // background-position-x: center;
    // background-position-y: 10px;
//     border: 1px solid magenta;
// }

.interactive:hover {
    cursor: pointer;
}

.interactive:active {
    opacity: .9;
}

.non-tunnel {
    background-color: vars.$non-tunnel-bg;
}

.verify-excavation {
    display: block;
    position: relative;
    width: 300px;
    border: 1px solid rgb(92, 114, 83);
    pointer-events: none;
    background-color: vars.$how-to-bg-darkened;
    font-size: .9rem;
    color: vars.$off-white;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 5px;
}

.confirm-btn {
    color: vars.$off-white;
    width: 300px;
    background-color: vars.$how-to-bg-darkened;
    border: 1px solid rgb(92, 114, 83);
    font-size: 1rem;
    padding: 10px 5px;
}

.confirm-btn:hover {
    cursor: pointer;
}

.cancel-btn {
    color: vars.$off-white;
    position: absolute;
    margin-top: 40px;
    margin-left: -300px;
    width: 300px;
    background-color: vars.$how-to-bg-darkened;
    border: 1px solid rgb(92, 114, 83);
    font-size: 1rem;
    border-radius: 0 0 5px 5px;
    padding: 10px 5px;
}

.cancel-btn:hover {
    cursor: pointer;
}

.hidden-from-player {
    visibility: hidden;
}