@use 'vars';
@use 'grid-cell';


.grid-window {
    position: absolute;
    bottom: 20px;
    height: 90%;
    max-height: 900px;
    width: 80%;
    left: calc(20% / 2);
    background-color: vars.$sides-bg;
    background: linear-gradient(vars.$sides-bg-lightened, vars.$sides-bg);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 10px;

    .resource-bar {
        position: sticky;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        user-select: none;
        border-bottom: 1px solid vars.$sides-bg;
        background-color: vars.$grid-container-bg;
        color: vars.$how-to-bg;

        .resource-display {
            width: calc(100% / 5);
            height: 100%;
            font-family: vars.$chau-phil;
            font-size: 1rem;
            letter-spacing: 2px;
            margin: 0;
            border: 0;
            padding: 5px 4px 3px 16px;
            border: 1px solid vars.$grid-window-bg-darkened;
            border-bottom: none;

            p {
                position: absolute;
                height: 20px;
                margin-top: -1.1rem;
                margin-left: 70px;
                font-family: vars.$medula;
                font-size: 1.2rem;
                letter-spacing: 2px;
                padding-right: 17px;
            }
        }
    }
}

.grid-container {
    height: calc(100% - 30px);
    width: 100%;
    overflow-y: scroll;
    white-space: nowrap;
    color: black;
}

.grid {
    margin-top: 1px;
    width: 100%;
    font-weight: bold;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background: linear-gradient(transparent, vars.$sides-bg-darkened, black);
}