@use 'vars';
@use 'tile-types';

.grid-cell {
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 10%;
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 1px black inset;
    background-size: 100%;

    // css trick to set height equal to whatever width is;
    // padding-bottom % should be same as width %
    height: 0;
    padding-bottom: 10%;
}

.grid-cell::selection {
    color: transparent;
    background-color: transparent;
}

.interactive:hover {
    cursor: pointer;
}

.interactive:active {
    opacity: .9;
}

.hidden-from-player {
    visibility: hidden;
}

.non-tunnel {
    background-color: vars.$non-tunnel-bg;
}

.verify-excavation {
    display: block;
    position: relative;
    width: 300px;
    height: 30px;
    border: 1px solid rgb(92, 114, 83);
    pointer-events: none;
    background-color: vars.$how-to-bg-darkened;
    font-size: .9rem;
    padding-top: 5px;
}

.excavate-cost {
    color: vars.$off-white;
}

.confirm-btn {
    color: vars.$off-white;
    width: 300px;
    height: 30px;
    background-color: vars.$how-to-bg-darkened;
    border: 1px solid rgb(92, 114, 83);
    font-size: 1rem;
}

.confirm-btn:hover {
    cursor: pointer;
}