@use 'vars';

.how-to {
    height: 800px;
    width: 100%;
    background-color: vars.$how-to-bg-darkened;
    z-index: 30;
    background: linear-gradient(vars.$how-to-bg-darkened, vars.$non-tunnel-bg, vars.$non-tunnel-bg, vars.$non-tunnel-bg, vars.$grid-container-bg);
    border-top: 1px solid vars.$how-to-bg-darkened;
}