@use './vars';

@mixin modal {
    position: absolute;
    z-index: 100;
    width: 98%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(94, 83, 73, 0.3);
}

@mixin modal-content {
    background-color: vars.$sides-bg-lightened;
    height: 76%;
    width: 60%;
    margin: 10% auto;
    border-radius: 20px;
    overflow: auto;
    border: 1px solid vars.$sides-bg;
}

.resource-summary-modal {
    @include modal();
}

.resource-summary-modal-content {
    @include modal-content();

    display: block;
    padding: 15px;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-family: vars.$boogaloo;
    color: white;
}

.ants-list-modal {
    @include modal();
}

.ants-list-modal-content {

    @include modal-content();
    width: 80%;
    height: 60%;
    margin: 16% auto;

    overflow: hidden;
    border: 1px solid vars.$sides-bg;


    #ants-list {
        overflow: auto;
        color: vars.$off-white;
        height: 100%;
        position: relative;
        
        .ants-list-item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border: 1px solid vars.$sides-bg;
            line-height: 70%;
            background-color: vars.$grid-container-bg;
            position: relative;
            z-index: 1;
            flex-wrap: nowrap;
            
            .ants-list-item-column {
                .ants-list-property-value {
                    font-family: vars.$chau-phil;
                    font-size: 1rem;
                }
            }

            .ants-list-property-name {
                font-family: vars.$chau-phil;
                color: white;
                font-size: 1.5rem;
                font-variant: small-caps;
                cursor: auto;
                user-select: none;
            }
        }
        
        .ants-list-item:hover {
            color: rgb(235, 197, 153);
            cursor: pointer;
        }

        .ants-list-under-item {
            display: none;
            font-size: 1rem;
            text-transform: uppercase;
            padding-left: 7px;

            #under-pre-form {
                display: inline-block;
                font-family: vars.$kanit;
                font-size: 1rem;
                margin: 0 15px;
                word-spacing: 3px;
            }

            #assign-task-form {
                display: inline-block;
                margin-left: 40px;
                overflow: hidden;
            }

            #assign-task-form select {
                width: 200px;
                height: 46px;
                font-size: 1rem;
                color: vars.$off-white;
                background-color: vars.$sides-bg;
                text-transform: uppercase;
                font-family: vars.$kanit;
                margin: 0 5px;
                cursor: pointer;
            }

            #assign-task-form label {
                display: inline-block;
                width: 50px;
                height: 30px;
                margin-top: 8px;
                margin-right: 5px;
                font-size: 1rem;
                text-transform: uppercase;
                font-family: vars.$kanit;
            }

            #assign-task-form input {
                background-color: vars.$sides-bg;
                color: vars.$off-white;
                height: 30px;
                text-transform: uppercase;
                font-family: vars.$kanit;
                margin-left: 10px;
                box-shadow: none;
                text-shadow: none;
                border-radius: 5px;
                border: none;
                font-size: 1rem;
                letter-spacing: 2px;
                cursor: pointer;
            }

            #assign-task-form input:hover {
                opacity: .9;
            }
        }
    }

        .blinker {
            display: block;
            width: 10px;
            height: 10px;
        }

        #choose-ant-blinker::after {
            position: absolute;
            font-size: 1.5rem;
            text-align: center;
            width: 78%;
            cursor: pointer;
            pointer-events: none;
            text-transform: uppercase;
            font-family: vars.$boogaloo;
            color: #f6efdd;
            // border: 1px solid #f6efdd;
            padding: 10px 5px;
            border-radius: 20px;
            margin-top: -70px;
            
            content: "▲ choose an ant in this list ▲";
            animation: blink 2s linear infinite;
        }
}

.hidden {
    visibility: hidden;
}

.game-stats-modal {
    @include modal();
}

.game-stats-modal-content {
    @include modal-content();

    display: block;
    padding: 15px;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-family: vars.$boogaloo;
    color: white;
}


.ensure-display-none-if-model-inactive {
    display: none;
}