@use './vars';

@mixin modal {
    position: absolute;
    z-index: 100;
    width: 98%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(94, 83, 73, 0.3);
    border: 1px solid vars.$test-color-2;
}

@mixin modal-content {
    background-color: vars.$tunnel-bg;
    height: 76%;
    width: 60%;
    margin: 10% auto;
    border-radius: 20px;
    overflow: auto;
    border: 1px solid vars.$sides-bg;
}

.resource-summary-modal {
    @include modal();
}

.resource-summary-modal-content {
    @include modal-content();
}

.ants-list-modal {
    @include modal();
}

.ants-list-modal-content {
    @include modal-content();
}

.game-stats-modal {
    @include modal();
}

.game-stats-modal-content {
    @include modal-content();
}