@use 'vars';

.networking-icons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 4vh;
    z-index: 25;

    height: 90vh;
    bottom: 5vh;

    .networking-icon img {
        width: 4vw;
        height: 4vw;
    }

    .networking-icon img:hover {
        opacity: .8;
    }

    .networking-icon img:active {
        opacity: 1;
    }
}