@use 'vars';

@mixin interactive-hover-before {
    color: vars.$how-to-bg-darkened;
    font-family: vars.$chau-phil;
    position: relative;
    font-size: 1rem;
    top: -22px;
    letter-spacing: 2px;
    pointer-events: none;
}

@mixin tile-type-above {
    background-color: vars.$tunnel-bg;
    background-image: url('../src/images/above.png');
}

@mixin tile-type-above-hover {
    box-shadow: 0 0 20px rgb(246, 218, 71, .5) inset;
}

@mixin tile-type-above-hover-before {
    @include interactive-hover-before();
    color: vars.$gold;
    top: 0;
    left: 14px;
}

// ALPHABETIZED
.tile-type-beetle {
    background-image: url('../src/images/beetle.png');
}

.tile-type-beetle:hover::before {
    @include interactive-hover-before();
    color: vars.$hostile;
    left: 14px;
    content: "beetle";
}

.tile-type-beetle:hover {
    box-shadow: 0 0 6px vars.$hostile inset;
}

.tile-type-clay {
    background-image: url('../src/images/clay.png');
}

.tile-type-clay:hover {
    box-shadow: 0 0 6px vars.$clay inset;
}

.tile-type-clay:hover::before {
    @include interactive-hover-before();
    left: 12px;
    color: rgb(248, 181, 117);
    content: "clay";
}

.tile-type-eat {
    background-image: url('../src/images/eat.png');
}

.tile-type-eat:hover {
    box-shadow: 0 0 6px rgb(111, 138, 52) inset;
}

.tile-type-eat:hover::before {
    @include interactive-hover-before();
    color: rgb(192, 221, 129);
    left: 10px;
    content: "eat";
}

.tile-type-food {
    @include tile-type-above();
}

.tile-type-food:hover {
    @include tile-type-above-hover();
}

.tile-type-food:hover::before {
    @include tile-type-above-hover-before();
    content: "food";
}

.tile-type-gold {
    background-image: url('../src/images/gold.png');
}

.tile-type-gold:hover {
    box-shadow: 0 0 6px vars.$gold inset;
}

.tile-type-gold:hover::before {
    @include interactive-hover-before();
    left: 13px;
    color: vars.$gold;
    content: "gold!";
}

.tile-type-mica {
    background-color: vars.$tunnel-bg;
    background-image: url('../src/images/mica.png');
}

.tile-type-nurse {
    background-image: url('../src/images/nursery.png');
}

.tile-type-nurse:hover {
    box-shadow: 0 0 6px rgb(231, 213, 109) inset;
}

.tile-type-nurse:hover::before {
    @include interactive-hover-before();
    left: 5px;
    color: rgb(231, 211, 123);
    content: "nursery";
}

.tile-type-sleep {
    background-image: url('../src/images/sleep.png');
}

.tile-type-sleep:hover {
    box-shadow: 0 0 10px rgb(134, 110, 145) inset;
}

.tile-type-sleep:hover::before {
    @include interactive-hover-before();
    left: 16px;
    color: rgb(212, 200, 223);
    content: "sleep";
}

.tile-type-spider {
    background-image: url('../src/images/spider.png');
}

.tile-type-spider:hover {
    box-shadow: 0 0 6px vars.$hostile inset;
}

.tile-type-spider:hover::before {
    @include interactive-hover-before();
    left: 12px;
    color: vars.$hostile;
    content: "spider";
}

.tile-type-tunnel {
    background-color: vars.$tunnel-bg;
}

.tile-type-tunnel:hover {
    opacity: .9;
    cursor: auto;
}

.tile-type-quartz {
    background-color: vars.$tunnel-bg;
    background-image: url('../src/images/ore.png');
}

.tile-type-wood {
    @include tile-type-above();
}

.tile-type-wood:hover {
    @include tile-type-above-hover();
}

.tile-type-wood:hover::before {
    @include tile-type-above-hover-before();
    content: "wood";
}


// the excavate-related rules must go last to override other tileTypes
//      so that the other tileType can be retained but the tile
//      appears as an 'excavate' tile
.tile-type-excavate {
    background-color: vars.$tunnel-bg;
    box-shadow: 0 0 1px black inset;
    background-image: url('../src/images/excavate.png');
}

.tile-type-excavate:hover {
    opacity: .9;
}

.tile-type-excavate:hover::before {
    @include interactive-hover-before();
    left: 25px;
    color: rgb(224, 211, 194);
    content: "dig";
}