$test-color-1: red;
$test-color-2: yellow;
$test-color-3: lime;

$sides-bg-lightened: rgb(102, 77, 65);
$sides-bg: rgb(80, 55, 49);
$sides-bg-darkened: rgb(58, 40, 35);
$landing-bg-lightened: rgb(218, 245, 250);
$landing-bg: rgb(192, 233, 240);
$landing-bg-darkened: rgb(165, 210, 218);
$off-white: rgb(231, 231, 231);
$off-white-darkened: rgb(226, 217, 209);
$grid-container-bg: rgb(105, 80, 66);
$grid-container-bg-darkened: rgb(88, 68, 55);
$site-title-bg: rgb(215, 233, 233);
$how-to-bg: #aab98c;
$how-to-bg-darkened: #8f9d72;
$cream: #ded2c2;
// $grid-window-bg: rgb(156, 119, 83);
$grid-window-bg-darkened: rgb(143, 108, 74);

$tunnel-bg: rgb(129, 98, 73);
$non-tunnel-bg: rgb(156, 124, 91);

$clay: rgb(223, 136, 50);
$ore: rgb(196, 188, 181);
$gold: rgb(255, 198, 74);
$hostile: rgb(156, 34, 34);
$nursery: rgb(231, 211, 123);
$sleep: rgb(212, 200, 223);
$eat: rgb(192, 221, 129);
$food: rgb(159, 189, 96);
$wood: rgb(223, 141, 109);

$default-fonts: Arial, Helvetica, sans-serif;
$boogaloo: 'Boogaloo', cursive;
$chau-phil: 'Chau Philomene One', sans-serif;
$kanit: 'Kanit', sans-serif;
$medula: 'Medula One', cursive;