$test-color-1: red;
$test-color-2: yellow;
$test-color-3: lime;

$sides-bg: rgb(80, 55, 49);
$landing-bg: rgb(192, 233, 240);
$off-white: rgb(226, 224, 223);
$game-container-bg: rgb(105, 80, 66);
$how-to-bg: rgb(141, 172, 111);
$how-to-bg-darkened: rgb(131, 163, 105);
$game-window-bg: rgb(156, 119, 83);

$default-fonts: Arial, Helvetica, sans-serif;
$kanit: 'Kanit', sans-serif;

html {
    background-color: $sides-bg;
}

body {
    width: 80%;
    max-width: 1600px;
    min-width: 900px;
    margin: 0 auto;
}

.landing {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $landing-bg;
}

.how-to {
    height: 800px;
    width: 100%;
    background-color: $how-to-bg;
    z-index: 5;
}

.game-container {
    height: 100vh;
    width: 100%;
    background-color: $game-container-bg;
    position: relative;
}

.back-to-how-to-container {
    height: 7%;
    min-height: 40px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
}

.back-to-how-to-container a {
    text-decoration: none;
    color: $off-white;
    display: block;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: $kanit;
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
}

.back-to-how-to-container a:hover {
    letter-spacing: 3px;
    color: white;
}

.game-window {
    position: absolute;
    bottom: 20px;
    height: 90%;
    max-height: 900px;
    width: 80%;
    left: calc(20% / 2);
    background-color: $game-window-bg;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 10px;
}

.game-grid-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    color: black;
}

.game-grid-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.game-grid-container {
    -ms-overflow-style: none;  /* IE, Edge hide scrollbar */
    scrollbar-width: none;  /* Firefox hide scrollbar */
}

.game-grid {
    height: 400%;
    width: 100%;
    color: $test-color-3;
    font-weight: bold;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}


/* the super tall line height ensures that the
user can drag the "background" (actually, the
text in this div) from anywhere in the game window;
as they drag this text around, the game board
appears to get dragged around (its ScrollTop and
ScrollLeft properties are altered based on how
far the user's cursor travelled from when they
began dragging the text to when the finished
dragging it) */
#draggable {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 10px;
    color: $game-container-bg;
    opacity: 1;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1600px; //ensure everywhere in game window is draggable
    color: transparent;
    text-shadow: none;
}

.networking-icons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    margin: 0 4vh;
    z-index: 20;
}

.networking-icon img {
    width: 4vw;
    height: 4vw;
}

.networking-icon img:hover {
    opacity: .8;
}

.networking-icon img:active {
    opacity: 1;
}

.how-to-and-play-btns-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: calc((100vw - 40vw) / 2);
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    min-width: 400px;
    height: 50px;
    background-color: $how-to-bg;
    border: 2px solid $sides-bg;
    border-radius: 20px 20px 0 0;
    border-width: 2px 2px 0px 2px;
}

.landing-btn {
    width: 50%;
    height: 100%;
}

.landing-btn a {
    display: block;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 16px;
    font-size: 1.2rem;
    text-align: center;
    color: $sides-bg;
    text-decoration: none;
    font-family: $kanit;
}

#how-to-btn {
    border-radius: 20px 0 0 0;
    border-right: 2px solid $sides-bg;
    height: 100%;
}

#play-btn {
    border-radius: 0 20px 0 0;
    height: 100%;
}

.landing-btn a:hover {
    background-color: $how-to-bg-darkened;
    letter-spacing: 3px;
    cursor: pointer;
}

.landing-btn a:active {
    background-color: $how-to-bg;
}

.how-to {
}