$test-color-1: red;
$test-color-2: yellow;
$test-color-3: lime;

$sides-bg: rgb(54, 44, 40);
$landing-bg: rgb(173, 224, 233);
$off-white: rgb(226, 224, 223);
$game-container-bg: rgb(92, 62, 45);
$how-to-bg: rgb(57, 131, 85);
$game-window-bg: rgb(156, 119, 83);

$default-fonts: Arial, Helvetica, sans-serif;

html {
    background-color: $sides-bg;
}

body {
    width: 80%;
    max-width: 1600px;
    min-width: 900px;
    margin: 0 auto;
}

.landing {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $landing-bg;
}

.how-to {
    height: 800px;
    width: 100%;
    background-color: $how-to-bg;
    z-index: 5;
}

.game-container {
    height: 100vh;
    width: 100%;
    background-color: $game-container-bg;
    position: relative;
}

.back-to-how-to-container {
    height: 7%;
    min-height: 40px;
    width: 40%;
    margin: 0 auto;
    border: 1px solid $test-color-2;
}

.game-window {
    position: absolute;
    bottom: 20px;
    height: 90%;
    max-height: 900px;
    width: 80%;
    left: calc(20% / 2);
    background-color: $game-window-bg;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.game-grid-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    color: black;
}

.game-grid-container::selection {
    color: transparent;
    background-color: transparent;
}

.game-grid-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.game-grid-container {
    -ms-overflow-style: none;  /* IE, Edge hide scrollbar */
    scrollbar-width: none;  /* Firefox hide scrollbar */

    // cursor: grab;
}

.game-grid {
    background-image: url(https://images.unsplash.com/photo-1549331847-168be8aea4fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80);
    background-repeat: repeat;
    height: 300%;
    width: 300%;
    color: $test-color-3;
    font-weight: bold;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}


/* the super tall line height ensures that the
user can drag the "background" (actually, the
text in this div) from anywhere in the game window;
as they drag this text around, the game board
appears to get dragged around (its ScrollTop and
ScrollLeft properties are altered based on how
far the user's cursor travelled from when they
began dragging the text to when the finished
dragging it) */
#draggable {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: green;
    font-size: 20px;
    opacity: 0;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1600px;
}