$test-color-1: red;
$test-color-2: yellow;
$test-color-3: lime;

$sides-bg: rgb(80, 55, 49);
$landing-bg: rgb(192, 233, 240);
$off-white: rgb(226, 224, 223);
$grid-container-bg: rgb(105, 80, 66);
$grid-container-bg-darkened: rgb(88, 68, 55);
$how-to-bg: rgb(141, 172, 111);
$how-to-bg-darkened: rgb(131, 163, 105);
// $grid-window-bg: rgb(156, 119, 83);
$grid-window-bg-darkened: rgb(143, 108, 74);

$tunnel-bg: rgb(124, 90, 63);
$non-tunnel-bg: rgb(156, 124, 91);

$clay-color: rgb(223, 136, 50);
$ore-color: rgb(196, 188, 181);
$gold-color: rgb(255, 198, 74);

$default-fonts: Arial, Helvetica, sans-serif;
$kanit: 'Kanit', sans-serif;


// NON-SECTION-SPECIFIC STYLING:

html {
    background-color: $sides-bg;
}

body {
    width: 80%;
    max-width: 1600px;
    min-width: 900px;
    margin: 0 auto;
}

.networking-icons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 4vh;
    z-index: 20;

    // should match .game-icons-container:
    height: 90%;
    bottom: 20px;
}

.networking-icon img {
    width: 4vw;
    height: 4vw;
}

.networking-icon img:hover {
    opacity: .8;
}

.networking-icon img:active {
    opacity: 1;
}

.game-icons-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 4vh;
    z-index: 20;

    //these should match .grid-window:
    bottom: 20px;
    height: 90%;
}

.game-icon img {
    width: 4vw;
    height: 4vw;
}

.game-icon img:hover {
    opacity: .8;
    cursor: pointer;
}

.game-icon img:active {
    opacity: 1;
}


// LANDING SECTION

.landing {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $landing-bg;
}


.how-to-and-play-btns-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: calc((100vw - 40vw) / 2);
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    min-width: 400px;
    height: 50px;
    background-color: $how-to-bg;
    border: 2px solid $how-to-bg-darkened;
    border-radius: 20px 20px 0 0;
    border-width: 2px 2px 0px 2px;
}

.landing-btn {
    width: 50%;
    height: 100%;
}

.landing-btn a {
    display: block;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 16px;
    font-size: 1.2rem;
    text-align: center;
    color: $off-white;
    text-decoration: none;
    font-family: $kanit;
}

#how-to-btn {
    border-radius: 20px 0 0 0;
    border-right: 2px solid $how-to-bg-darkened;
    height: 100%;
}

#play-btn {
    border-radius: 0 20px 0 0;
    height: 100%;
}

.landing-btn a:hover {
    background-color: $how-to-bg-darkened;
    letter-spacing: 3px;
    cursor: pointer;
}

.landing-btn a:active {
    background-color: $how-to-bg;
}


// HOW-TO SECTION

.how-to {
    height: 800px;
    width: 100%;
    background-color: $how-to-bg;
    z-index: 5;
}


// GRID SECTION

.grid-section {
    height: 100vh;
    width: 100%;
    background-color: $grid-container-bg;
    position: relative;
}

.back-to-how-to-container {
    height: 7%;
    min-height: 40px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
}

.back-to-how-to-container a {
    text-decoration: none;
    color: $off-white;
    display: block;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: $kanit;
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
}

.back-to-how-to-container a:hover {
    letter-spacing: 3px;
    color: white;
}

.grid-window {
    position: absolute;
    bottom: 20px;
    height: 90%;
    max-height: 900px;
    width: 80%;
    left: calc(20% / 2);
    background-color: $sides-bg;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 10px;
}

.grid-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    white-space: nowrap;
    color: black;
    // -ms-overflow-style: none;  /* IE, Edge hide scrollbar */
    // scrollbar-width: none;  /* Firefox hide scrollbar */
}

.grid-container::-webkit-scrollbar {
    // display: none; /* Chrome, Safari, Opera */
}

.grid {
    width: 100%;
    font-weight: bold;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid $grid-container-bg-darkened;
}

.grid-cell {
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 10%;
    color: transparent;
    text-shadow: none;

    // css trick to set height equal to whatever width is;
    // padding-bottom % should be same as width %
    height: 0;
    padding-bottom: 10%;
}


// GRID CELLS (TILES) SECTION

.grid-cell::selection {
    color: transparent;
    background-color: transparent;
}

.discovered:hover {
    cursor: pointer;
}

.hidden-from-player {
    visibility: hidden;
}

.tile-type-food {
    background-color: $non-tunnel-bg;
}

.tile-type-nest {
    background-color: $non-tunnel-bg;
}

.tile-type-tunnel {
    background-color: $tunnel-bg;
    box-shadow: 0 0 1px black inset;
}

.tile-type-tunnel:hover {
    opacity: .9;
    cursor: auto;
}

.tile-type-clay {
    background-color: $non-tunnel-bg;
    background-image: url('../src/images/clay.png');
    background-size: 100%;
}

.tile-type-clay:hover {
    box-shadow: 0 0 6px $clay-color inset;
}

.tile-type-ore {
    background-color: $non-tunnel-bg;
    background-image: url('../src/images/ore.png');
    background-size: 100%;
}

.tile-type-ore:hover {
    box-shadow: 0 0 6px $ore-color inset;
}

.tile-type-gold {
    background-color: $non-tunnel-bg;
    background-image: url('../src/images/gold.png');
    background-size: 100%;
}

.tile-type-gold:hover {
    opacity: .9;
    box-shadow: 0 0 6px $gold-color inset;
}

.tile-type-excavate {
    background-color: $tunnel-bg;
    box-shadow: 0 0 1px black inset;
    background-image: url('../src/images/excavate.png');
    background-size: 100%;
}

.tile-type-excavate:hover {
    opacity: .9;
}


// DRAGGABLE SECTION

/* the super tall line-height ensures that the
user can drag the "background" (actually, the
text in this div) from anywhere in the grid window;
as they drag this text around, the grid
appears to get dragged around (its ScrollTop and
ScrollLeft properties are altered based on how
far the user's cursor travelled from when they
began dragging the text to when the finished
dragging it) */
#draggable {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 10px;
    color: $grid-container-bg;
    opacity: 1;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1600px; //ensure everywhere in grid window is draggable
    color: transparent;
    text-shadow: none;
}